@model NewMessageViewModel

<div class="modal fade" id="writeMessageModal" tabindex="-1" role="dialog" aria-labelledby="writeMessageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">New message</h5>
                <button type="button" id="closeModal" class="close bg-transparent border-0" data-dismiss="modal" aria-label="Close">
                    <i class="bi bi-x"></i>
                </button>
            </div>
            <form id="messageForm">
                <div class="modal-body">
                    <div class="text-start">
                        @Html.DisplayNameFor(m => m.RecipientName)
                        @Html.TextBoxFor(m => m.RecipientName, new { @class = "form-control", @id="recipientName", @name ="recipientName" })
                        <div id="searchData"></div>
                    </div>
                    <div class="text-start">
                        <label>@Html.DisplayNameFor(m => m.Title)</label>
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", @id="messageTitle", @name="messageTitle" })
                    </div>
                    <div class="text-start">
                        <label>@Html.DisplayNameFor(m => m.Body)</label>
                        @Html.TextAreaFor(m => m.Body, new { @class = "form-control rows-10", @id="messageBody", @name="messageBody" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" id="sendButton"><i class="bi bi-send"></i> Send</button>
                </div>
            </form>
        </div>
    </div>
</div>